/* ============================================
   STRUCTURE DES ARCHIVES CATEGORIES ET TAGS
   ============================================ */

.articles-archive {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 20px;
    overflow-x: hidden;
}

.archive-header {
    font-size: clamp(2.5rem, 3vw, 3.3rem);
    text-align: center;
}