/* ####################### */
/* Commentaires */
/* ####################### */

.comments-container {
    margin-top: 2rem;
}

.comment-form {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comment-form label {
    margin-bottom: 1rem;
}

.comment-form label span {
    color: red;
}

.comment-form input {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    padding: 1rem;
}

.comment-form #comment, .comment-reply-form textarea {
    height: 150px;
    resize: none;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.7rem;
}

.comment-card {
    width: 100%;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
    border-radius: 0.7rem;
    overflow: hidden;
}

.comment-author {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-bottom: 1px solid #e2e2e2;
    padding: 1rem;
    background: var(--color-text);
}

.comment-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--bg-color);
}

.comment-author p {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--bg-color);
}

.comment-content {
    padding: 1rem;
}

.comment-meta {
    font-size: 0.9rem;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.comment-meta p {
    font-weight: 500;
    font-size: 0.9rem;
}

.reply {
    padding: 0.5rem 1rem;
}

.reply-content-author {
    font-weight: bold;
}

.reply-content {
    padding-left: 2rem;
}

.reply-content-author p {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--color-text);
}

.reply-content-author img {
    display: none;
}

.main-comment-form {
    margin-top: 2rem;
}
